<section class="section">
  <div class="page-width">
    <h1 class="page-title">{{ 'customer.login.title' | t }}</h1>
    {%- form 'customer_login', class: 'contact-form' -%}
      {{ form.errors | default_errors }}
      <label for="CustomerEmail">{{ 'customer.login.email' | t }}</label>
      <input id="CustomerEmail" type="email" name="customer[email]" autocomplete="email">
      <label for="CustomerPassword">{{ 'customer.login.password' | t }}</label>
      <input id="CustomerPassword" type="password" name="customer[password]" autocomplete="current-password">
      <button class="button" type="submit">{{ 'customer.login.submit' | t }}</button>
    {%- endform -%}
  </div>
</section>

{% schema %}
{
  "name": "Main login",
  "settings": []
}
{% endschema %}
